* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.main_container {
  display: flex;
}
main {
  width: 100%;
  /* padding: 20px; */
}
.sidebar {
  background: rgb(1, 78, 150);
  color: #fff;
  height: 100vh;
  width: 300px;
  transition: all 0.4s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 150px;
}
.link {
  text-decoration: none;
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.4s;
  cursor: pointer;
}
.link:hover {
  background: rgb(48, 176, 255);
  color: #f0f0f0;
  transition: all 0.4s;
}

.logout-link {
  text-decoration: none;
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.4s;
  cursor: pointer;
}
.logout-link:hover {
  color: #888888;
  transition: all 0.4s;
}

.active {
  background: white;
  color: rgb(1, 78, 150);
}
.icon,
.link_text {
  font-size: 20px;
}
